@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body,input, select, button {
    font: 12pt Verdana, sans-serif;
}

table {
    margin: 10px;
    border-spacing:0;
    border-collapse: collapse;
}
tr, th, td {
    border: 1px solid black;
}

div.hidden {
    display:none;
    visibility: hidden;
}

div.show {
    display:block;
    visibility: visible;
}

div#error {
    color: red;
    font-weight: bold;
}

button#signupLink {
    text-decoration:underline;
    border: none;
    cursor: pointer;
    background:none;
    padding: 0;
    color: blue;
}

/*.habit-row {
    display: table-row;
    padding: 10px;
}*/

.habit-cell {
    padding: 10px;
}
.habit-freq {
    text-decoration:underline;
    width: 100px;
    padding: 10px;
}

.X {
    padding: 10px;
}

.habit-name {
    text-decoration:underline;
    width: 250px;
    padding: 10px;
}

select, input.habitRecordInput {
    margin:10px;
}

.habit-progress {
    padding: 0;
    width: 100px;
    padding: 10px;
}

.box {
    padding: 5px;
    height: 2px;
    margin: 1px;
    display: inline-block;
    background-color: pink;
    border: 1px solid black;
}

.boxAll {
    display: inline-block;
    background-color: pink;
    border: 1px solid black;
    padding: 5px;
    height:0px;
    margin: 0px;
}

.mdIcon {
    font-family: 'Material Icons' !important;
}