div.hidden {
    display:none;
}

div.show {
    display:block;
}

button#signupLink {
    text-decoration:underline;
    border: none;
    cursor: pointer;
    background:none;
    padding: 0;
    color: blue;
}

.habit-grid-container {
    display: table;
    width:100%;
}

.habit-row {
    display: table-row;
    border: 1px solid black;
}

.habit-head-group {
    display: table-header-group
}

.habit-head-cell {
   display: table-cell;
}

.habit-cell {
    display: table-cell;
    border: 1px solid black;
}

.habit-name {
    text-decoration:underline;
}

.habit-mark {
    border: 1px solid green;
    padding: 0;
}

#focusedHabit {
    display: none;
}