@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body,input, select, button {
    font: 20pt Verdana, sans-serif;
}

table, th, td {
    border: 1px solid black;
    font-size: 15px;
}

div.hidden {
    display:none;
}

div.show {
    display:block;
}

div#error {
    color: red;
    font-weight: bold;
}

button#signupLink {
    text-decoration:underline;
    border: none;
    cursor: pointer;
    background:none;
    padding: 0;
    color: blue;
}

.habit-table-container {
    display: table;
    margin: 10px;
    border: 1px solid purple;

}

.habit-row {
    display: table-row;
    border: 1px solid green;
}

.habit-head-group {
    display: table-header-group
}

.habit-head-cell {
   display: table-cell;
}

.X {
    /*width:25px;
    display: table-cell;*/
    border: 1px solid red;
    padding: 10px;

}

.habit-name {
    text-decoration:underline;
    /*display: table-cell;*/
    border: 1px solid blue;
    width: 250px;
    padding: 5px;
    padding: 10px;
}

.habitNameSpan {
    margin-left: 10px;
    margin-right: 10px;
}

.habit-progress {
    /*border: 1px solid green;*/
    padding: 0;
    width: 100px;
    padding: 10px;
}

.box {
    padding: 5px;
    height: 2px;
    margin: 1px;
    display: inline-block;
    background-color: pink;
    border: 1px solid black;
}

.boxAll {
    display: inline-block;
    background-color: pink;
    border: 1px solid black;
    padding: 5px;
    height:0px;
    margin: 0px;
}

.mdIcon {
    font-family: 'Material Icons' !important;
}